body{
    margin: 0;
}

.header{
    display: grid;
    justify-content: center;
    background-color: red;
}

.section{
    display: grid;
    justify-content: center;
}

.footer{
    display: grid;
    justify-content: center;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
}